Bureau/
.cache/
Documents/
.face
Git/
.gnupg/
Images/
.lesshst
.local/
Modèles/
.mozilla/
Musique/
Public/
id_rsa
id_rsa.pub
known_hosts
known_hosts.old
Téléchargements/
.themes/
Vidéos/
White-sur/
yay/
.zcomdump
.zhistory
.viminfo
.bash_logout
.bash_profile
.bashrc
autostart/
dconf/
evolution/
gnome-session/
goa-1.0/
gtk-1.0/
gtk-3.0/
gtk-4.0/
ibus/
nautilus/
pulse/
sway/
user-dirs-.dirs
user-dirs.locale

